<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script>
  function CopyToClipboard(id)
  {
  var r = document.createRange();
  r.selectNode(document.getElementById(id));
  window.getSelection().removeAllRanges();
  window.getSelection().addRange(r);
  document.execCommand('copy');
  window.getSelection().removeAllRanges();
  alert("Password Copied!");
  }
  </script>
<div class="container text-center" style="margin-top: 1em;">
  <h1 style="color: dodgerblue;margin-bottom: 1em;">Your password is:</h1>
  <h2 class="alert alert-success" id="pwd">{{ password }}</h2>
  <a href="#" class="btn btn-dark" onclick="CopyToClipboard('pwd');return false;">Copy Password</a>
  <a href="{% url 'home' %}" class="btn btn-info">Home</a>
</div>
